{% extends "forms/field.html.twig" %}

{% set options = {'': 'No file'} %}
{% set files = admin.page.media.all %}
{% for index, media in files %}
    {% set option = {(index): index} %}
    {% set options = options|merge(option) %}
{% endfor %}

{% block global_attributes %}
    data-grav-selectize="{{ (field.selectize is defined ? field.selectize : {})|json_encode()|e('html_attr') }}"
    data-grav-filepicker
    data-grav-field="filepicker"
    data-grav-disabled="{{ files is empty ? 'true' : 'false' }}"
    data-grav-default="{{ field.default|json_encode()|e('html_attr') }}"
{% endblock %}

{% block input %}
<div class="control-group">
    <select placeholder="Pick a file..." data-name="{{field.name}}"></select>
</div>
{% endblock %}


