{% set value = (value is null ? field.default : value) %}

{% if exists %}
<div class="form-field">
    <div class="form-data form-uploads-wrapper">
        <h3>{{ field.label|tu }}</h3>
        <div id="grav-dropzone" class="dropzone"></div>
        <span>{{ value|join("\n") }}</span>
    </div>
</div>
{% else %}
<div class="form-tab">
    <div class="form-field">
        <div class="form-label">
            <label>
                You cannot add media files until you save the page. Just click 'Save' on top
            </label>
        </div>
    </div>
</div>
{% endif %}
