<div id="news-feed" class="dashboard-item dashboard-right">
    <div class="admin-block default-box-shadow">
        <h1>{{ "PLUGIN_ADMIN.NEWS_FEED"|tu }}</h1>
        <ul>
            {# Replace this below with "/admin/ajax.json/task:getnewsfeed" and loop over `feed_data` #}
            <li><span class=\"date\">3 weeks ago</span> <a href=\"https://getgrav.org/blog/grav-1.1-released\">Grav & Admin Plugin v1.1 Released!</a></li>
            <li><span class=\"date\">3 weeks ago</span> <a href=\"https://getgrav.org/blog/cms-critic-award-nominations-2016\">2016 CMS Critic Award Nominations</a></li>
            <li><span class=\"date\">2 months ago</span> <a href=\"https://getgrav.org/blog/grav-rc-1.1-available\">Grav 1.1 + Admin 1.1 RC Available</a></li>
            <li><span class=\"date\">3 months ago</span> <a href=\"https://getgrav.org/blog/denver-grav-users-group\">Denver Grav Users Group</a></li>
            <li><span class=\"date\">3 months ago</span> <a href=\"https://getgrav.org/blog/grav-beta-1.1-available\">Grav 1.1 + Admin 1.1 Betas Available</a></li>
            <li><span class=\"date\">4 months ago</span> <a href=\"https://getgrav.org/blog/raspberrypi-nginx-php7-dev\">Raspberry Pi Dev Setup with Nginx + PHP7</a></li>
            <li><span class=\"date\">4 months ago</span> <a href=\"https://getgrav.org/blog/version-1.1-coming-soon\">Grav Version 1.1 Coming Soon</a></li>
            <li><span class=\"date\">4 months ago</span> <a href=\"https://getgrav.org/blog/github-community-podcast\">Grav featured in new "GitHub Community Podcast"</a></li>
            <li><span class=\"date\">4 months ago</span> <a href=\"https://getgrav.org/blog/grav-stickers-available\">Grav Stickers Available</a></li>
            <li><span class=\"date\">7 months ago</span> <a href=\"https://getgrav.org/blog/plans-for-2016\">Plans for 2016</a></li>
        </ul>
    </div>
</div>

