<div id="messages" class="top-notifications-container{{ admin.messages|length or form.message ? ' default-box-shadow' : '' }}">
    <div class="single-notification info alert hidden" data-gpm-grav></div>
    {%- for message in admin.messages -%}
    <div class="{{ message.scope|e }} alert">{{ message.message|raw }}</div>
    {%- endfor -%}
    {%- if form.message -%}
    <div class="error alert">{{ form.message|raw }}</div>
    {%- endif -%}
</div>
