<p class="avatar">
{{ "PLUGIN_ADMIN.AVATAR_BY"|t }}

{% if config.system.accounts.avatar == 'gravatar' %}
<a href="https://gravatar.com" target="_blank" rel="noopener noreferrer">gravatar.com</a>.
{% else  %}
<a href="https://multiavatar.com/" target="_blank" rel="noopener noreferrer">Multiavatar</a>.
{% endif %}

{{ "PLUGIN_ADMIN.AVATAR_UPLOAD_OWN"|t }}</p>
