.gpm {
    td {
        border: 0;
    }

    .gpm-name {
        white-space: nowrap;

        @include breakpoint(mobile-only) {
            white-space: normal;
        }
    }

    .gpm-version {
        padding-left:0.5rem;
        font-size: 0.9rem;
    }

    .gpm-actions {

        .enabled, .disabled {
            font-size: 1.6rem;
        }
    }

    .gpm-item-info {
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        overflow: hidden;

        @include breakpoint(mobile-only) {
            word-wrap: break-word;
        }

        .gpm-item-icon {
            position: absolute;
            right: $padding-default;
            font-size: 20rem;
        }
        table {
            position: relative;
        }
        td {
            border: 0;
            text-align: left !important;

            &:first-child {
                white-space: nowrap;
                width: 25%;
            }
        }
        tr:hover {
            background: inherit;
        }
    }

    .badge.update {
        display: inline-block;
        border-radius: 4px;
        padding: 2px 10px;
        margin-left: 1rem;
    }

    .gpm-ribbon {
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        top: 1rem;
        right: -2rem;
        @include transform(rotate(45deg));

        a {
            display: block;
            font-weight: bold;
            font-size: 0.9rem;
            padding: 5px 40px;
            text-align: center;
        }
    }

    .themes {
        padding: $padding-default;

        .gpm-name {
            margin-bottom: 0.5rem;
        }

        .gpm-actions {
            margin: 1rem -1rem -1rem -1rem;
            height: 4rem;
            text-align: center;
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
        }

        .active-theme .gpm-actions, &.inactive-theme .gpm-actions {
            line-height: 2rem;
        }

        .inactive-theme .gpm-actions {
            display: block;
            font-weight: normal;
        }
    }
}
