.hide-notification { 
	float: right;
}

.top-notifications-container {
	.info.alert a {
		color: white!important;
    	text-decoration: underline;
	}

    @include breakpoint(mobile-only) {
        padding-bottom: 20px;
    }
}

