.hide-notification {
	float: right;
}

#admin-main .content-padding {
    .top-notifications-container {

        .alert {
            a {
                cursor: pointer;
            }
        }

        .warning {
            background: #AB4859;
            color: #eee;
            a {
                color: #fff;
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }

        .info {
            background: #FEF2C0;
            color: #666;
            a {
                color: #333;
                &:hover {
                    color: #000;
                    text-decoration: underline;
                }
            }
        }

        @include breakpoint(mobile-only) {
            padding-bottom: 20px;
        }
    }
}


