.report-output {
    #admin-main .admin-block & .alert {
        margin-top: 0;
        margin-bottom: 0;
    }

    td {
        .key {
           font-weight: bold;
        }

        .value {

        }
    }
}
