.remodal {
    .safe-upgrade-header, .safe-upgrade-body {
        padding: 0 1.5rem;
        h2 {
            padding-top: 0;
            margin-top: 0;
        }
        p {
            padding-left: 0;
        }
    }
    .safe-upgrade-body {
        margin-bottom: 1rem;
        
        .safe-upgrade-summary {
            p {
                margin: 0.25rem 0;
            }
        }
        .safe-upgrade-actions {
            margin-top: 1.5rem;
        }
    }

}
