{% embed 'partials/login.html.twig' with {title:'Grav Forgot Password'} %}

    {% block form %}
        {% embed 'forms/default/fields.html.twig' with {name: null, fields: form.fields} %}
            {% block inner_markup_field_open %}<div>{% endblock %}
            {% block inner_markup_field_close %}</div>{% endblock %}
        {% endembed %}
        <div class="form-actions primary-accent">
            <button type="submit" class="button primary" name="task" value="forgot"><i class="fa fa-paper-plane"></i> {{ "PLUGIN_ADMIN.LOGIN_BTN_SEND_INSTRUCTIONS"|t }}</button>
        </div>
    {% endblock %}

{% endembed %}

