{% embed 'partials/login.html.twig' with {title:'Grav Register Admin User', classes:'wide'} %}

    {% block instructions %}
    <div class="instructions">
        The Admin plugin has been installed, but no user accounts could be found. Please create a user account to ensure your Grav install is secure...
    </div>
    {% endblock %}

    {% block form %}
        {% for field in page.header.form.fields %}
                {% if field.type %}
                    <div class="wrapper-{{ field.name }}">
                        {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-actions secondary-accent">

                <button type="reset" class="button secondary"><i class="fa fa-exclamation-circle"></i> {{ 'PLUGIN_ADMIN.LOGIN_BTN_CLEAR'|tu }}</input>
                <button type="submit" class="button primary" name="task" value="register"><i class="fa fa-sign-in"></i> {{ 'PLUGIN_ADMIN.LOGIN_BTN_CREATE_USER'|tu }}</button>

            </div>

    {% endblock %}

{% endembed %}
