$fonts-default: 'Lato' !default;
$fonts-header: 'Montserrat' !default;
$fonts-mono: 'Inconsolata' !default;

$font-definitions: (
    Montserrat: ('Montserrat-regular', 400) (null),
    Lato: ('Lato-300', 300) ('Lato-regular', 400) ('Lato-700', 700),
    Inconsolata: ('Inconsolata-regular', 400) ('Inconsolata-700', 700)
);

@import "configuration/fonts/support";




