$fonts-header: 'Roboto' !default;
$fonts-default: 'Roboto' !default;
$fonts-mono: 'Inconsolata' !default;

$font-definitions: (
    Roboto: '300,400,500',
    Inconsolata: '400,700'
);

@import "configuration/fonts/support";
