body {
  background: #EDF2F6;
  color: #929699; }

a {
  color: #3EA7E6; }
  a:hover {
    color: #279de3; }

.text-gray, .text-grey {
  color: #70798a; }

.text-update {
  color: #A652AB; }

blockquote {
  border-left: 10px solid #e6e6e6;
  background: #fafafa; }
  blockquote p {
    color: #85898d; }
  blockquote cite {
    color: #929699; }

code {
  background: #f9f2f4;
  color: #9c1d3d; }

pre {
  background: #f6f6f6;
  border: 1px solid #dddddd; }
  pre code {
    color: #237794; }

hr {
  border-bottom: 2px solid #f7f7f7; }

.label {
  background: #3EA7E6;
  color: #ffffff; }

.badge {
  background: #A652AB;
  color: #ffffff; }

.light-border {
  border-color: #f7f7f7 !important; }

.subtle-text {
  color: #929496 !important; }

td, thead th {
  border-bottom: 1px solid #f7f7f7; }

tr td.gpm-details {
  background-color: #fafafa; }

.tab-bar {
  background: #6F7E95;
  color: #d1ddf0; }
  .tab-bar li.active span, .tab-bar li.active a {
    background: #ffffff;
    color: #787b7d; }
  .tab-bar span, .tab-bar a {
    color: #d1ddf0; }
    .tab-bar span:hover, .tab-bar a:hover {
      color: #f7f9fd;
      background: #8c98ab; }

.button {
  color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  background: #3EA7E6; }
  .button:hover {
    background: #358ec4;
    color: #ffffff; }
  .button.dropdown-toggle {
    border-left: 1px solid #55b1e9; }
  .button.dropdown-toggle {
    border-left: 1px solid #279de3; }
  .button.secondary {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #3286b8; }
    .button.secondary:hover {
      background: #5098c3;
      color: #ffffff; }
    .button.secondary.dropdown-toggle {
      border-left: 1px solid #2c77a4; }
    .button.secondary.dropdown-toggle {
      border-left: 1px solid #2c77a4; }
  .button.danger {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #AB4859; }
    .button.danger:hover {
      background: #b86372;
      color: #ffffff; }
    .button.danger.dropdown-toggle {
      border-left: 1px solid #994050; }

.button-group .dropdown-menu {
  background-color: #3EA7E6;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .button-group .dropdown-menu .divider {
    background-color: #3EA7E6; }
  .button-group .dropdown-menu li > a {
    color: #ffffff; }
    .button-group .dropdown-menu li > a:focus, .button-group .dropdown-menu li > a:hover {
      color: #ffffff; }
      .button-group .dropdown-menu li > a:focus:hover, .button-group .dropdown-menu li > a:hover:hover {
        background: #5bb4ea; }
  .button-group .dropdown-menu.language-switcher a.active {
    background-color: #6bbcec; }

#admin-main .admin-block a.gumroad-button {
  background: #AB4859 !important;
  color: #ffffff !important; }

#admin-login-wrapper {
  background: radial-gradient(circle at center, white 40%, #e6e6e6 100%); }

#admin-login {
  background: #ffffff; }
  #admin-login.wide form label {
    color: #70798a; }
    #admin-login.wide form input::-webkit-input-placeholder {
      color: rgba(112, 121, 138, 0.6); }
    #admin-login.wide form input::-moz-placeholder {
      color: rgba(112, 121, 138, 0.6); }
    #admin-login.wide form input:-moz-placeholder {
      color: rgba(112, 121, 138, 0.6); }
    #admin-login.wide form input:-ms-input-placeholder {
      color: rgba(112, 121, 138, 0.6); }
#admin-login .wrapper-spacer h3 {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 3px solid rgba(91, 98, 112, 0.1); }
#admin-login .instructions, #admin-login p {
  color: rgba(112, 121, 138, 0.8); }
#admin-login h1 {
  background-color: #3696d1; }
  #admin-login h1.text-logo {
    color: #ffffff; }
    #admin-login h1 svg path:first-child {
      fill: #2e8eca; }
    #admin-login h1 svg path:last-child {
      fill: rgba(255, 255, 255, 0.9) !important; }
#admin-login h5 {
  color: #70798a; }
  #admin-login form input {
    background: white;
    color: #5b6270;
    border: 1px solid #ccc; }
    #admin-login form input::-webkit-input-placeholder {
      color: #858d9c; }
    #admin-login form input::-moz-placeholder {
      color: #858d9c; }
    #admin-login form input:-moz-placeholder {
      color: #858d9c; }
    #admin-login form input:-ms-input-placeholder {
      color: #858d9c; }

#admin-sidebar {
  background: #ffffff; }
  #admin-sidebar a {
    color: rgba(91, 98, 112, 0.9); }
    #admin-sidebar a:hover {
      color: #5b6270; }

#admin-logo {
  background-color: #3696d1; }
  #admin-logo .grav-logo path {
    fill: rgba(255, 255, 255, 0.9) !important; }
    #admin-logo .grav-logo:hover path {
      fill: #ffffff !important; }
  #admin-logo a, #admin-logo i {
    color: #e6e6e6; }
    #admin-logo a:hover, #admin-logo i:hover {
      color: #ffffff; }

#open-handle {
  background-color: #2c89c1;
  border-left: 1px solid #4ba1d6; }
  #open-handle i {
    color: rgba(255, 255, 255, 0.6); }
    #open-handle i:hover {
      color: rgba(255, 255, 255, 0.8); }

#admin-nav-quick-tray {
  background: #fafafa;
  border-bottom: 1px solid #f7f7f7;
  color: #5b6270; }
  #admin-nav-quick-tray i:hover {
    color: #444954; }

.block-userinfo img {
  border: 4px solid #e6e6e6; }

#offline-status {
  background-color: #A652AB;
  color: #ffffff; }

#admin-user-details, .admin-user-details {
  border-bottom: 1px solid white; }
  #admin-user-details:hover img, .admin-user-details:hover img {
    box-shadow: 0px 0px 0 50px white; }
    #admin-user-details .admin-user-names h4, .admin-user-details .admin-user-names h4, #admin-user-details .admin-user-names h5, .admin-user-details .admin-user-names h5 {
      color: #5b6270; }

#admin-menu li .badges .count {
  color: #5b6270;
  background-color: #f2f2f2; }
#admin-menu li .badges .updates {
  color: #ffffff;
  background-color: #f24d77; }
#admin-menu li a:hover {
  background: #cadbeb;
  color: #5b6270; }
  #admin-menu li a:hover .fa {
    color: #5b6270; }
#admin-menu li.selected a {
  background: #edf2f6;
  color: #4b505c;
  border-left: 9px solid #358ec4; }
  #admin-menu li.selected a .fa {
    color: #4b505c; }

#admin-main .grav-update {
  background: #A652AB;
  color: #ffffff; }
  #admin-main .grav-update a.button, #admin-main .grav-update span.button, #admin-main .grav-update button.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #854289; }
    #admin-main .grav-update a.button:hover, #admin-main .grav-update span.button:hover, #admin-main .grav-update button.button:hover {
      background: #713874;
      color: #ffffff; }
    #admin-main .grav-update a.button.dropdown-toggle, #admin-main .grav-update span.button.dropdown-toggle, #admin-main .grav-update button.button.dropdown-toggle {
      border-left: 1px solid #964a9a; }
#admin-main .titlebar {
  background: #ffffff;
  color: #636468; }
  #admin-main .titlebar .button-bar .button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #3EA7E6; }
    #admin-main .titlebar .button-bar .button:hover {
      background: #5bb4ea;
      color: #ffffff; }
    #admin-main .titlebar .button-bar .button.dropdown-toggle {
      border-left: 1px solid #279de3; }
    #admin-main .titlebar .button-bar .button.danger {
      color: rgba(255, 255, 255, 0.85);
      border-radius: 4px;
      background: #AB4859; }
      #admin-main .titlebar .button-bar .button.danger:hover {
        background: #b86372;
        color: #ffffff; }
      #admin-main .titlebar .button-bar .button.danger.dropdown-toggle {
        border-left: 1px solid #994050; }
    #admin-main .titlebar .button-bar .button.success {
      color: rgba(255, 255, 255, 0.85);
      border-radius: 4px;
      background: #A652AB; }
      #admin-main .titlebar .button-bar .button.success:hover {
        background: #b36cb8;
        color: #ffffff; }
      #admin-main .titlebar .button-bar .button.success.dropdown-toggle {
        border-left: 1px solid #954a9a; }
      #admin-main .titlebar .button-bar .button.success.dropdown-toggle {
        border-left-color: #8f4693; }
      #admin-main .titlebar .button-bar .button.success + .dropdown-menu {
        background-color: #A652AB; }
  #admin-main .titlebar .button-bar span.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #ccc; }
    #admin-main .titlebar .button-bar span.button:hover {
      background: #adadad;
      color: #ffffff; }
    #admin-main .titlebar .button-bar span.button.dropdown-toggle {
      border-left: 1px solid #d9d9d9; }
#admin-main .lines-button {
  background: rgba(0, 0, 0, 0.1); }
  #admin-main .lines-button .lines, #admin-main .lines-button .lines:before, #admin-main .lines-button .lines:after {
    background: #636468; }
#admin-main .admin-block {
  background: #ffffff;
  color: #787b7d; }
  #admin-main .admin-block a:not(.button) {
    color: #3EA7E6; }
    #admin-main .admin-block a:not(.button):hover {
      color: #279de3; }
  #admin-main .admin-block h1 {
    color: #636468;
    border-bottom: 1px solid #f7f7f7; }
#admin-main .danger.button-bar, #admin-main .success.button-bar {
  background: #f7f7f7; }
#admin-main .danger .button {
  color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  background: #AB4859; }
  #admin-main .danger .button:hover {
    background: #b86372;
    color: #ffffff; }
  #admin-main .danger .button.dropdown-toggle {
    border-left: 1px solid #994050; }
#admin-main .content-padding div[class*=notifications-container] .alert.note {
  background: #ffffff;
  color: #787b7d; }
  #admin-main .content-padding div[class*=notifications-container] .alert.note.alert {
    border-bottom: 2px solid #f2f2f2; }
  #admin-main .content-padding div[class*=notifications-container] .alert.note a:not(.button) {
    color: #3EA7E6; }
    #admin-main .content-padding div[class*=notifications-container] .alert.note a:not(.button):hover {
      color: #279de3; }
#admin-main .content-padding div[class*=notifications-container] .alert.warning {
  background: #AB4859;
  color: #ffffff; }
  #admin-main .content-padding div[class*=notifications-container] .alert.warning.alert {
    border-bottom: 2px solid #994050; }
  #admin-main .content-padding div[class*=notifications-container] .alert.warning a {
    color: #ffffff; }
    #admin-main .content-padding div[class*=notifications-container] .alert.warning a:hover {
      color: white; }
#admin-main #notifications .badge.alert.note {
  background: #3EA7E6;
  color: #ffffff; }
#admin-main #notifications .badge.alert.warning {
  background: #AB4859;
  color: #ffffff; }

.sidebar-mobile-open #admin-main .lines-button .lines, .sidebar-mobile-open #admin-main .lines-button .lines:before, .sidebar-mobile-open #admin-main .lines-button .lines:after {
  background: #ffffff; }

#dependency-missing {
  margin-bottom: 1.75rem; }
  #dependency-missing .alert {
    padding: 1rem 1.5rem; }
    #dependency-missing .alert h1 {
      color: #ffffff;
      border-bottom: 0;
      display: inline; }

#admin-dashboard .admin-block li {
  border-bottom: 1px solid #f7f7f7; }
#admin-dashboard .primary-accent {
  background-color: #8f4693;
  background-image: -webkit-linear-gradient(#8f4693, #A652AB);
  background-image: linear-gradient(#8f4693, #A652AB); }
  #admin-dashboard .primary-accent h1 {
    color: #ffffff;
    border-bottom: 0; }
  #admin-dashboard .primary-accent p {
    color: rgba(255, 255, 255, 0.95); }
    #admin-dashboard .primary-accent .stat i {
      color: rgba(255, 255, 255, 0.75); }
  #admin-dashboard .primary-accent .numeric em {
    color: rgba(255, 255, 255, 0.85); }
  #admin-dashboard .primary-accent .chart-loader {
    color: #854289; }
#admin-dashboard .secondary-accent {
  background-color: #2a83b9;
  background-image: -webkit-linear-gradient(#2a83b9, #3696d1);
  background-image: linear-gradient(#2a83b9, #3696d1); }
  #admin-dashboard .secondary-accent h1 {
    color: #ffffff;
    border-bottom: 0; }
  #admin-dashboard .secondary-accent p {
    color: rgba(255, 255, 255, 0.95); }
    #admin-dashboard .secondary-accent .stat i {
      color: rgba(255, 255, 255, 0.75); }
  #admin-dashboard .secondary-accent .numeric em {
    color: rgba(255, 255, 255, 0.85); }
  #admin-dashboard .secondary-accent .chart-loader {
    color: #2b78a7; }

.sidebar-mobile-open #admin-main .lines-button .lines, .sidebar-mobile-open #admin-main .lines-button .lines:before, .sidebar-mobile-open #admin-main .lines-button .lines:after {
  background: #ffffff; }

form h1, form h3 {
  border-bottom: 3px solid #f7f7f7; }
form h1, form h2, form h3, form h4, form h5 {
  color: #636468; }
form .note {
  color: #AB4859; }
form .required {
  color: #3cb8ba; }
form .overlay {
  background: #fafafa; }
  form .overlay pre {
    background: #fefefe; }
form .form-border {
  border: 1px solid #e6e6e6; }
form .form-field-colors {
  background-color: #fcfcfc;
  color: #6c6e70; }
  form .form-select-wrapper:after, form .selectize-control.single .selectize-input:after {
    color: #9fa1a3; }
form .selectize-control.single .selectize-input, form .selectize-control.multi .selectize-input, form .selectize-control.single .selectize-input.full, form .selectize-control.multi .selectize-input.full, form .selectize-control.single .selectize-input.items, form .selectize-control.multi .selectize-input.items, form .selectize-control.single .selectize-input.active, form .selectize-control.multi .selectize-input.active {
  color: #6c6e70;
  border-color: #e6e6e6;
  background-color: #fcfcfc; }
form .selectize-control.single .selectize-input input, form .selectize-control.multi .selectize-input input {
  color: #6c6e70; }
form .selectize-control.single .selectize-input a.remove, form .selectize-control.multi .selectize-input a.remove {
  color: #EDF2F6 !important; }
form .form-input-wrapper .form-input-addon {
  border: 1px solid #e6e6e6;
  background: #ffffff; }
  form .form-input-wrapper .form-input-addon.copy-to-clipboard {
    background: #3EA7E6;
    color: #ffffff; }
    form .form-input-wrapper .form-input-addon.copy-to-clipboard:hover {
      background: #279de3; }
form .selectize-control.single.plugin-remove_button .selectize-input .item, form .selectize-control.multi .selectize-input .item, form .selectize-control.single.plugin-remove_button .selectize-input .remove-single, form .selectize-control.multi .selectize-input .remove-single {
  color: #ffffff !important;
  background: #787b7d; }
  form .selectize-control.single.plugin-remove_button .selectize-input .item.active, form .selectize-control.multi .selectize-input .item.active, form .selectize-control.single.plugin-remove_button .selectize-input .remove-single.active, form .selectize-control.multi .selectize-input .remove-single.active {
    background: #f24d77;
    color: #ffffff; }
form select {
  border: 1px solid #e6e6e6;
  background: #fcfcfc;
  color: #6c6e70; }
form input[type=text], form input[type=password], form input[type=email], form input[type=date], form input[type=tel], form input[type=time], form input[type=week], form input[type=month], form input[type=number], form input[type=color], form input[type=url] {
  border: 1px solid #e6e6e6;
  background: #fcfcfc;
  color: #6c6e70; }
form input[readonly=readonly] {
  background: #ffffff; }
form textarea {
  color: #6c6e70;
  border: 1px solid #e6e6e6;
  background: #fcfcfc; }
form .form-frontmatter-wrapper {
  border: 1px solid #e6e6e6; }
form .button-bar {
  background: #f7f7f7; }
  form .checkboxes label:before {
    background: #fcfcfc;
    border: 1px solid #e6e6e6; }
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder, form select::-webkit-input-placeholder {
  color: #acaeaf; }
form input::-moz-placeholder, form textarea::-moz-placeholder, form select::-moz-placeholder {
  color: #acaeaf; }
form input:-moz-placeholder, form textarea:-moz-placeholder, form select:-moz-placeholder {
  color: #acaeaf; }
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder, form select:-ms-input-placeholder {
  color: #acaeaf; }
form .g-colorpicker {
  width: 230px; }
  form .g-colorpicker .g-colorpicker-preview-wrap {
    border-color: #e6e6e6;
    height: 43px;
    width: 43px; }
  form .g-colorpicker input {
    height: 43px; }
form .form-input-file {
  border: 2px dashed #e6e6e6; }
  form .form-input-file p {
    color: #6c6e70; }
  form .form-input-file ul {
    color: #ffffff;
    background: #A652AB; }
form .file-thumbnail-remove {
  background: #3EA7E6; }
  form .file-thumbnail-remove .fa {
    color: #ffffff; }
  form .file-thumbnail-remove:hover {
    background: #ffffff; }
    form .file-thumbnail-remove:hover .fa {
      color: #3EA7E6; }
form input[type=range]::-webkit-slider-runnable-track {
  background: #fafafa;
  border: 1px solid #e6e6e6; }
form input[type=range]::-webkit-slider-thumb {
  border: 1px solid #e6e6e6;
  background: #3EA7E6; }
form input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fafafa; }
form input[type=range]::-moz-range-track {
  background: #fafafa;
  border: 1px solid #e6e6e6; }
form input[type=range]::-moz-range-progress {
  background: #fafafa; }
form input[type=range]::-moz-range-thumb {
  border: 1px solid #e6e6e6;
  background: #3EA7E6; }
form input[type=range]::-ms-fill-lower, form input[type=range]::-ms-fill-upper {
  background: #fafafa;
  border: 1px solid #e6e6e6; }
form input[type=range]::-ms-thumb {
  border: 1px solid #e6e6e6;
  background: #3EA7E6; }
form input[type=range]:focus::-ms-fill-lower, form input[type=range]:focus::-ms-fill-upper {
  background: #fafafa; }

form .form-display-wrapper table {
  border: 1px solid #e6e6e6; }
  form .form-display-wrapper table th {
    background-color: whitesmoke;
    border-bottom: 3px solid #e6e6e6;
    border-right: 1px solid #e6e6e6; }
  form .form-display-wrapper table td {
    border-right: 1px solid #e6e6e6; }
  form .form-display-wrapper table tr {
    border-bottom: 1px solid #e6e6e6; }

.grav-editor-resizer {
  background-color: #d5d5d5;
  background-color: #d5d5d5;
  background-image: -webkit-linear-gradient(top, #d5d5d5 0%, #d5d5d5 20%, #ededed 20%, #ededed 40%, #d5d5d5 40%, #d5d5d5 60%, #ededed 60%, #ededed 80%, #d5d5d5 80%, #d5d5d5 100%);
  background-image: linear-gradient(to bottom,#d5d5d5 0%, #d5d5d5 20%, #ededed 20%, #ededed 40%, #d5d5d5 40%, #d5d5d5 60%, #ededed 60%, #ededed 80%, #d5d5d5 80%, #d5d5d5 100%); }

.form-order-wrapper ul.orderable li {
  border: 1px solid #e6e6e6;
  background: white;
  color: #787b7d; }
  .form-order-wrapper ul.orderable li.drag-handle {
    background: #fcfcfc;
    color: #6c6e70; }
  .form-order-wrapper ul.orderable li[data-active-id] {
    border-color: #3EA7E6; }
.form-order-wrapper ul.orderable.disabled li {
  opacity: 0.7; }

.form-list-wrapper ul[data-collection-holder] > li {
  border: 1px solid #e6e6e6;
  background: white;
  color: #929496; }
  .form-list-wrapper ul[data-collection-holder] > li .item-actions {
    color: #5f6163; }
.form-list-wrapper .collection-sort {
  background: #fafafa;
  border-right: 1px solid #e6e6e6; }

.form-fieldset {
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6; }

.form-fieldset--label {
  background-color: whitesmoke; }
  .form-fieldset--label:hover, .form-fieldset input:checked + .form-fieldset--label {
    background-color: #f0f0f0; }

#admin-main #admin-topbar {
  background: #6F7E95; }
#admin-main .form-tabs {
  background: #6F7E95; }
  #admin-main .form-tabs.side-tabs > .tabs-nav {
    background: #ffffff; }
    #admin-main .form-tabs.side-tabs > .tabs-nav a {
      color: #3EA7E6;
      cursor: pointer; }
      #admin-main .form-tabs.side-tabs > .tabs-nav a:hover {
        background: #EDF2F6; }
      #admin-main .form-tabs.side-tabs > .tabs-nav a.active {
        background: #7e8ba0;
        color: #d1ddf0; }
  #admin-main .form-tabs.side-tabs > .tabs-content {
    box-shadow: -20px 0 50px -40px rgba(0, 0, 0, 0.3); }
#admin-main .form-tabs .tabs-nav a {
  color: #d1ddf0; }
  #admin-main .form-tabs .tabs-nav a:hover {
    color: #becfea;
    background: #637187; }
  #admin-main .form-tabs .tabs-nav a.active {
    background: #ffffff;
    color: #787b7d; }
#admin-main .form-tabs.subtle {
  background: #ffffff; }
  #admin-main .form-tabs.subtle .tabs-nav {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f7f7f7); }
  #admin-main .form-tabs.subtle a {
    color: #6c6f71;
    border: 0 solid transparent;
    border-bottom: 1px solid #e6e6e6; }
    #admin-main .form-tabs.subtle a:hover {
      color: #606264;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ededed); }
    #admin-main .form-tabs.subtle a.active {
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      border-bottom: 0; }
      #admin-main .form-tabs.subtle a.active:hover {
        background: #ffffff; }
      #admin-main .form-tabs.subtle a.active:first-child {
        border-left: 0; }
      #admin-main .form-tabs.subtle a.active:last-child {
        border-right: 0; }
#admin-main .form-tabs .tabs-content {
  background: #ffffff; }

.switch-grav {
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6; }
  .switch-grav label {
    color: #787b7d;
    transition: background-color 0.5s ease; }
  .switch-grav.switch-toggle input.highlight:checked + label {
    background: #3EA7E6;
    color: #ffffff; }
  .switch-grav.switch-toggle input:checked + label {
    color: #ffffff;
    background: #787b7d; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #A652AB; }
  .toast-success .button {
    background: #af63b4;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #b874bc; }
    .toast-success .button:hover {
      background: #9d62a0;
      color: #ffffff; }
    .toast-success .button.dropdown-toggle {
      border-left: 1px solid #c185c4; }

.toast-error {
  background-color: #AB4859; }
  .toast-error .button {
    background-color: #873946;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #632a34; }
    .toast-error .button:hover {
      background: #7b4a52;
      color: #ffffff; }
    .toast-error .button.dropdown-toggle {
      border-left: 1px solid #51222a; }

.toast-info {
  background-color: #f24d77; }
  .toast-info .button {
    background-color: #ef1d53;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #ca0f3e; }
    .toast-info .button:hover {
      background: #d2335b;
      color: #ffffff; }
    .toast-info .button.dropdown-toggle {
      border-left: 1px solid #b20d37; }

.info {
  background: #A652AB;
  color: #ffffff; }
  .info a {
    color: #e6e6e6; }
    .info a:hover {
      color: #ffffff; }
  .info a.button, .info span.button, .info button.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #854289; }
    .info a.button:hover, .info span.button:hover, .info button.button:hover {
      background: #713874;
      color: #ffffff; }
    .info a.button.dropdown-toggle, .info span.button.dropdown-toggle, .info button.button.dropdown-toggle {
      border-left: 1px solid #964a9a; }

.info-reverse {
  color: #A652AB; }

.notice, .note {
  background: #f24d77;
  color: #ffffff; }
  .notice a, .note a {
    color: #e6e6e6; }
    .notice a:hover, .note a:hover {
      color: #ffffff; }
  .notice a.button, .note a.button, .notice span.button, .note span.button, .notice button.button, .note button.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #c23e5f; }
    .notice a.button:hover, .note a.button:hover, .notice span.button:hover, .note span.button:hover, .notice button.button:hover, .note button.button:hover {
      background: #a53451;
      color: #ffffff; }
    .notice a.button.dropdown-toggle, .note a.button.dropdown-toggle, .notice span.button.dropdown-toggle, .note span.button.dropdown-toggle, .notice button.button.dropdown-toggle, .note button.button.dropdown-toggle {
      border-left: 1px solid #c8516f; }

.notice-reverse, .note-reverse {
  color: #f24d77; }

.error, .warning {
  background: #AB4859;
  color: #ffffff; }
  .error a, .warning a {
    color: #e6e6e6; }
    .error a:hover, .warning a:hover {
      color: #ffffff; }
  .error a.button, .warning a.button, .error span.button, .warning span.button, .error button.button, .warning button.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #893a47; }
    .error a.button:hover, .warning a.button:hover, .error span.button:hover, .warning span.button:hover, .error button.button:hover, .warning button.button:hover {
      background: #74313d;
      color: #ffffff; }
    .error a.button.dropdown-toggle, .warning a.button.dropdown-toggle, .error span.button.dropdown-toggle, .warning span.button.dropdown-toggle, .error button.button.dropdown-toggle, .warning button.button.dropdown-toggle {
      border-left: 1px solid #9b4151; }

.error-reverse, .warning-reverse {
  color: #AB4859; }

.primary-accent {
  background: #954a9a;
  color: #ffffff; }
  .primary-accent .button-bar {
    background: #8f4693; }
  .primary-accent .button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #A652AB; }
    .primary-accent .button:hover {
      background: #b36cb8;
      color: #ffffff; }
    .primary-accent .button.dropdown-toggle {
      border-left: 1px solid #954a9a; }

.secondary-accent {
  background: #2c89c1;
  color: #ffffff; }
  .secondary-accent .button-bar {
    background: #2a83b9; }
  .secondary-accent .button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #3696d1; }
    .secondary-accent .button:hover {
      background: #2e80b2;
      color: #ffffff; }
    .secondary-accent .button.dropdown-toggle {
      border-left: 1px solid #4ba1d6; }
  .secondary-accent .button-group .dropdown-menu {
    background: #3696d1; }
    .secondary-accent .button-group .dropdown-menu li a:hover {
      background: #54a6d8; }

.card-item {
  border: 1px solid #f2f2f2;
  background: #ffffff; }
  .card-item .gpm-actions {
    background: #fafafa; }
  .card-item.active-theme {
    border: 1px solid #f24d77; }
    .card-item.active-theme .gpm-actions {
      background: #f24d77;
      color: #ffffff; }

.user-details h2 {
  color: #636468; }
  .user-details h2 span {
    color: #787b7d; }
.user-details .gravatar {
  color: #acaeaf; }
  .user-details .gravatar a {
    color: #787b7d !important; }

#admin-main .grav-editor-toolbar .dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
  border: 1px solid #e6e6e6;
  background: white; }

#admin-main .grav-editor-toolbar {
  border: 1px solid #e6e6e6;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: white; }
  #admin-main .grav-editor-toolbar ul a {
    color: #787b7d; }
    #admin-main .grav-editor-toolbar ul a:hover, #admin-main .grav-editor-toolbar ul a:focus {
      background: #f7f7f7;
      color: #6c6e70;
      border-top: 1px solid #e6e6e6; }
  #admin-main .grav-editor-toolbar ul .editor-active a {
    cursor: auto;
    background: white;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6; }
    #admin-main .grav-editor-toolbar ul .editor-active a:hover {
      background: #f7f7f7;
      color: #6c6e70;
      border-top: 0;
      border-bottom: 1px solid #e6e6e6; }
  #admin-main .grav-editor-toolbar ul .editor-active:last-child a, #admin-main .grav-editor-toolbar ul .editor-active:last-child a:hover {
    border-right: 1px solid transparent; }
  #admin-main .grav-editor-toolbar ul .button-disabled a {
    color: rgba(120, 123, 125, 0.5); }
    #admin-main .grav-editor-toolbar ul .button-disabled a:hover, #admin-main .grav-editor-toolbar ul .button-disabled a:focus {
      background: white;
      color: #787b7d;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent; }

#admin-main .grav-editor-hide-toolbar + div {
  border: 1px solid #e6e6e6; }

.grav-editor-content, .grav-editor-preview {
  border: 1px solid #e6e6e6;
  border-top: 0; }

.grav-mdeditor-content {
  border: 1px solid #e6e6e6; }

[data-mode=split] .grav-mdeditor-code {
  border-right: 1px solid #e6e6e6; }

#admin-main .grav-editor-preview h1, #admin-main .grav-editor-preview h2, #admin-main .grav-editor-preview h3, #admin-main .grav-editor-preview h4, #admin-main .grav-editor-preview h5, #admin-main .grav-editor-preview h6 {
  color: #5f6163; }

.primary-accent .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: rgba(255, 255, 255, 0.85) !important; }
.primary-accent .ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #ffffff !important; }
.primary-accent .ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.2) !important; }

.secondary-accent .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: rgba(255, 255, 255, 0.85) !important; }
.secondary-accent .ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #ffffff !important; }
.secondary-accent .ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.2) !important; }

.dropzone {
  background: #fcfcfc;
  border: 1px #e6e6e6 solid; }
  .dropzone.dz-drag-hover {
    border-color: #ccc;
    background: rgba(0, 0, 0, 0.04); }
  .dropzone .dz-preview {
    border: 1px solid #f2f2f2; }
    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
      color: #ffffff; }
    .dropzone .dz-preview .dz-success-mark {
      background-color: #6bbcec; }
    .dropzone .dz-preview .dz-error-mark {
      background-color: #AB4859; }
    .dropzone .dz-preview .dz-progress {
      background: #d7d7d7; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        background-color: #6bbcec; }
    .dropzone .dz-preview .dz-error-message {
      background: white;
      color: #AB4859; }
      .dropzone .dz-preview:hover .dz-details {
        box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4); }
    .dropzone .dz-preview .dz-remove, .dropzone .dz-preview .dz-unset, .dropzone .dz-preview .dz-view, .dropzone .dz-preview .dz-insert, .dropzone .dz-preview .dz-metadata {
      background: #ededed; }
      .dropzone .dz-preview .dz-remove:hover:after, .dropzone .dz-preview .dz-unset:hover:after, .dropzone .dz-preview .dz-view:hover:after, .dropzone .dz-preview .dz-insert:hover:after, .dropzone .dz-preview .dz-metadata:hover:after {
        color: #3EA7E6; }
      .dropzone .dz-preview .dz-remove:after, .dropzone .dz-preview .dz-unset:after, .dropzone .dz-preview .dz-view:after, .dropzone .dz-preview .dz-insert:after, .dropzone .dz-preview .dz-metadata:after {
        color: #787b7d; }
    .dropzone .dz-preview .dz-remove:hover:after {
      color: #AB4859; }
  .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message span {
    color: #c6c7c8; }

.gpm > table > tbody > tr {
  border-bottom: 1px solid #f7f7f7; }
  .gpm > table > tbody > tr:hover {
    background: white; }
.gpm .gpm-name {
  color: #9fa1a3; }
.gpm .gpm-version {
  color: #929496; }
.gpm .gpm-ribbon, .gpm .badge.update {
  background: #A652AB; }
  .gpm .gpm-ribbon a, .gpm .badge.update a, .gpm .gpm-ribbon, .gpm .badge.update {
    color: #ffffff !important; }
    .gpm .gpm-ribbon a:hover, .gpm .badge.update a:hover, .gpm .gpm-ribbon:hover, .gpm .badge.update:hover {
      background: #8d4691; }
.gpm .gpm-update .gpm-name {
  color: #3EA7E6; }
.gpm .gpm-item-info {
  border-bottom: 3px solid #f7f7f7; }
  .gpm .gpm-item-info .gpm-item-icon {
    color: #fafafa; }
.gpm .gpm-actions .disabled {
  color: #929496; }
.gpm .gpm-testing {
  background-color: #AB4859;
  color: #ffffff; }

.pages-list {
  border-top: 1px solid #f7f7f7; }
  .pages-list .row {
    border-bottom: 1px solid #f7f7f7; }
    .pages-list .row:hover {
      background: white; }
    .pages-list .row p.page-route {
      color: #787b7d; }
      .pages-list .row p.page-route .spacer {
        color: #787b7d; }
    .pages-list .row .badge.lang {
      background-color: #6F7E95;
      color: #d1ddf0; }
    .pages-list .row .badge.lang.info {
      background-color: #A652AB;
      color: #ffffff; }
  .pages-list .page-home {
    color: #929496; }
  .pages-list .page-info {
    color: #929496; }

#admin-topbar #admin-lang-toggle {
  z-index: 3; }
  #admin-topbar #admin-lang-toggle button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #A652AB; }
    #admin-topbar #admin-lang-toggle button:hover {
      background: #b36cb8;
      color: #ffffff; }
    #admin-topbar #admin-lang-toggle button.dropdown-toggle {
      border-left: 1px solid #954a9a; }
  #admin-topbar #admin-lang-toggle .dropdown-menu {
    background: #A652AB; }
#admin-topbar .switch-grav {
  background-color: #8c98ab; }
  #admin-topbar .switch-toggle input:checked + label {
    color: #ffffff; }
  #admin-topbar .switch-toggle input + label {
    color: #d1ddf0; }
  #admin-topbar .switch-toggle input.highlight:checked + label {
    background: #3EA7E6; }

body .selectize-dropdown .optgroup-header {
  color: #000000;
  border-bottom: 1px solid #eee;
  background-color: #fafafa; }

body .bootstrap-datetimepicker-widget.dropdown-menu {
  border-color: #e6e6e6; }
  body .bootstrap-datetimepicker-widget table td span:hover, body .bootstrap-datetimepicker-widget table th:hover, body .bootstrap-datetimepicker-widget table td.day:hover {
    background: #f2f2f2 !important; }
  body .bootstrap-datetimepicker-widget table .active {
    color: #3EA7E6 !important; }
    body .bootstrap-datetimepicker-widget table .active:hover {
      color: #1c90d5; }

#phpinfo th {
  background: #fcfcfc; }
#phpinfo td {
  word-wrap: break-word; }
  #phpinfo td:first-child {
    color: #3EA7E6; }

.remodal {
  background: #ffffff;
  color: #787b7d; }

.remodal-close {
  color: #787b7d; }

.remodal-close:hover, .remodal-close:focus {
  color: #464849; }

.gm-scrollbar .thumb {
  background-color: rgba(0, 0, 0, 0.2); }
  .gm-scrollbar .thumb:hover, .gm-scrollbar .thumb:active {
    background-color: rgba(0, 0, 0, 0.3); }

#page-filtering .page-shortcuts .button {
  color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  background: rgba(108, 110, 112, 0.5); }
  #page-filtering .page-shortcuts .button:hover {
    background: rgba(159, 160, 161, 0.575);
    color: #ffffff; }
  #page-filtering .page-shortcuts .button.dropdown-toggle {
    border-left: 1px solid rgba(95, 97, 99, 0.5); }

#admin-sidebar .gm-scrollbar .thumb {
  background-color: rgba(0, 0, 0, 0.2); }
  #admin-sidebar .gm-scrollbar .thumb:hover, #admin-sidebar .gm-scrollbar .thumb:active {
    background-color: rgba(0, 0, 0, 0.3); }

.preview-wrapper iframe {
  border: 1px solid #e3ebf1; }

#backups-stats .backups-usage-wrapper > div {
  background: linear-gradient(-90deg, #854189 0, #743977 100%); }
  #backups-stats .backups-usage-wrapper > div.full {
    background: linear-gradient(-90deg, #994050 0, #2d1318 100%); }

.logs-output table.noflex td.level .badge.error, .logs-output table.noflex td.level .badge.critical, .logs-output table.noflex td.level .badge.alert {
  background-color: #DC3023;
  color: #fff; }
.logs-output table.noflex td.level .badge.notice, .logs-output table.noflex td.level .badge.warning {
  background-color: #E08A1E;
  color: #fff; }
.logs-output table.noflex td.level .badge.debug {
  background-color: #26A65B;
  color: #fff; }
.logs-output table.noflex td.level .badge.info {
  background-color: #22A7F0;
  color: #fff; }
.logs-output table.noflex td.level .badge.emergency {
  background-color: #8E44AD;
  color: #fff; }

.permission-container {
  overflow: hidden; }

[data-grav-field="parents"] .form-input-wrapper:hover {
  color: #3EA7E6; }

.grav-loader, .grav-loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

.grav-loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(120, 123, 125, 0.2);
  border-right: 1.1em solid rgba(120, 123, 125, 0.2);
  border-bottom: 1.1em solid rgba(120, 123, 125, 0.2);
  border-left: 1.1em solid #787b7d;
  transform: translateZ(0);
  animation: gravloader 1.1s infinite linear; }

@-webkit-keyframes gravloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes gravloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

input[type=range].rangefield {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 230px;
  background: none; }
  input[type=range].rangefield:focus {
    outline: none; }
  input[type=range].rangefield::-webkit-slider-runnable-track {
    width: 230px;
    height: 20px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 25px; }
  input[type=range].rangefield::-webkit-slider-thumb {
    height: 24px;
    width: 35px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px; }
  input[type=range].rangefield::-moz-focus-outer {
    border: 0; }
  input[type=range].rangefield::-moz-range-track {
    width: 230px;
    height: 20px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 25px; }
  input[type=range].rangefield::-moz-range-progress {
    height: 20px;
    border-radius: 25px; }
  input[type=range].rangefield::-moz-range-thumb {
    height: 24px;
    width: 35px;
    border-radius: 6px;
    cursor: pointer; }
  input[type=range].rangefield::-ms-track {
    width: 230px;
    height: 20px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  input[type=range].rangefield::-ms-fill-lower, input[type=range].rangefield input[type=range]::-ms-fill-upper {
    border-radius: 50px; }
  input[type=range].rangefield::-ms-thumb {
    height: 24px;
    width: 35px;
    border-radius: 6px;
    cursor: pointer; }
  input[type=range].rangefield ~ input[type=number].rangefield {
    background: none;
    display: inline-block;
    width: 60px;
    text-align: right;
    border: 0;
    line-height: 16px;
    vertical-align: middle;
    padding: 0 0 0 5px; }

span.range-append {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin-left: -3px; }

#pages-filters {
  background: #ffffff;
  color: rgba(112, 121, 138, 0.7); }
  #pages-filters .button-border {
    color: #70798a;
    border-radius: 4px;
    border: 1px solid white;
    color: #70798a !important; }
    #pages-filters .button-border:hover {
      border-color: #d9d9d9;
      color: #70798a; }
    #pages-filters .button-border.dropdown-toggle {
      border-left: 1px solid white; }
  #pages-filters .filters-bar input {
    background-color: white;
    border-color: white;
    color: #5b6270; }
#pages-filters .filters-advanced fieldset {
  border: 1px solid white; }
  #pages-filters .filters-advanced fieldset legend {
    background: #ffffff;
    color: #70798a;
    font-weight: bold; }
#pages-filters form .checkboxes label:before {
  background-color: white;
  border-color: white;
  color: #5b6270; }

#pages-columns {
  border-top: 1px solid #dddddd; }
  #pages-columns .fjs-item:hover .fjs-info > b {
    color: #3EA7E6; }
  #pages-columns .fjs-item:hover .fjs-action-toggle, #pages-columns .fjs-item:hover .fjs-children {
    color: #3EA7E6 !important; }
  #pages-columns .fjs-item .fjs-icon {
    background-color: #999;
    box-shadow: 0px 0px 0px 1px #fff; }
    #pages-columns .fjs-item .fjs-icon.home {
      background-color: #2980B9; }
    #pages-columns .fjs-item .fjs-icon.visible {
      background-color: #3498DB; }
    #pages-columns .fjs-item .fjs-icon.lock {
      background-color: #E67E22; }
    #pages-columns .fjs-item .fjs-icon.modular {
      background-color: #9B59B6; }
    #pages-columns .fjs-item .fjs-icon:after {
      border: 1px solid #ffffff; }
    #pages-columns .fjs-item .fjs-icon.badge-published:after {
      background-color: #27AE60; }
    #pages-columns .fjs-item .fjs-icon.badge-unpublished:after {
      background-color: #E74C3C; }
    #pages-columns .fjs-item .fjs-icon .badge-lang {
      background-color: #6a7990;
      color: #becfea;
      border: 1px solid #ffffff; }
      #pages-columns .fjs-item .fjs-icon .badge-lang.translated {
        background-color: #A652AB;
        color: #ffffff; }
      #pages-columns .fjs-item .fjs-icon .badge-lang.not-available {
        background-color: #edf2f6;
        color: #4b505c; }
  #pages-columns .fjs-item .fjs-info > b {
    color: #787d80; }
  #pages-columns .fjs-item .fjs-info > em {
    color: #babcbe; }
#pages-columns .fjs-item .fjs-actions .child-count {
  background-color: #e6e6e6;
  color: #787b7d; }
#pages-columns .fjs-item .fjs-action-toggle {
  color: #A652AB; }
#pages-columns .fjs-item .fjs-action-toggle, #pages-columns .fjs-item .fjs-children {
  color: #c7c9ca;
  border-radius: 4px;
  border: 1px solid #eaeaea; }
  #pages-columns .fjs-item .fjs-action-toggle:hover, #pages-columns .fjs-item .fjs-children:hover {
    border-color: #c7c7c7;
    color: #c7c9ca; }
  #pages-columns .fjs-item .fjs-action-toggle.dropdown-toggle, #pages-columns .fjs-item .fjs-children.dropdown-toggle {
    border-left: 1px solid #f7f7f7; }
  #pages-columns .fjs-item .fjs-action-toggle:hover, #pages-columns .fjs-item .fjs-children:hover {
    border-color: #d8d8d8; }
#pages-columns .fjs-item > a {
  position: relative; }
  #pages-columns .fjs-item.fjs-active > .fjs-item-wrapper {
    background-color: whitesmoke; }
    #pages-columns .fjs-item.fjs-active > .fjs-item-wrapper a {
      background: none; }
#pages-columns .fjs-item.filters-hit > .fjs-item-wrapper {
  background-color: #ffffeb; }
#pages-columns .fjs-item.filters-hit.fjs-active > .fjs-item-wrapper {
  background-color: #ffffd6; }
#pages-columns .tags .tag {
  margin: 0 0.15rem; }
#pages-columns .tags .tag-published {
  background-color: #219e0d; }
#pages-columns .tags .tag-visible {
  background-color: #018fd9; }
#pages-columns .tags .tag-non-routable {
  background-color: #ff392a; }
#pages-columns .langs .badge {
  align-items: center;
  background-color: #6a7990;
  color: #becfea; }
  #pages-columns .langs .lang:hover .badge {
    background-color: #3EA7E6;
    color: #EDF2F6; }
#pages-columns .langs .lang-translated .fa {
  color: #219e0d; }
#pages-columns .langs .lang-non-translated .fa {
  color: #ff392a; }
#pages-columns .dropdown-menu .divider {
  border-top: 1px solid #eaeaea; }
#pages-columns .dropdown-menu .dropdown-item {
  color: #212529;
  background-color: inherit; }
  #pages-columns .dropdown-menu .dropdown-item:hover {
    color: #3EA7E6;
    background-color: #dce6ee !important; }
    #pages-columns .dropdown-menu .dropdown-item.danger .fa {
      color: #AB4859; }
    #pages-columns .dropdown-menu .dropdown-item.danger:hover {
      background-color: #AB4859 !important; }
      #pages-columns .dropdown-menu .dropdown-item.danger:hover .fa {
        color: #ffffff; }
#pages-columns .dropdown-menu .action-bar {
  background: #e6edf3; }
#pages-columns .dropdown-menu .fa {
  color: #999; }
#pages-columns .dropdown-menu a:not(.lang):hover .fa {
  color: #3EA7E6; }
  #pages-columns .dropdown-menu .infos tr td:first-child {
    color: #acafb2; }

.breadcrumb-node:hover span {
  text-decoration: none;
  color: #3EA7E6; }
.breadcrumb-node > i:not(.fa) {
  background-color: #999;
  box-shadow: 0px 0px 0px 1px #fff; }
  .breadcrumb-node > i:not(.fa).home {
    background-color: #2980B9; }
  .breadcrumb-node > i:not(.fa).visible {
    background-color: #3498DB; }
  .breadcrumb-node > i:not(.fa).lock {
    background-color: #E67E22; }
  .breadcrumb-node > i:not(.fa).modular {
    background-color: #9B59B6; }

.permissions-container .switch-toggle input.label0:checked + label {
  background: #C0392B !important; }
.permissions-container .switch-toggle input.label1:checked + label {
  background-color: #3D9970 !important; }
.permissions-container .badge.badge-denied {
  background: #C0392B !important; }
.permissions-container .badge.badge-access {
  background-color: #3D9970 !important; }
.permissions-container .badge.badge-super {
  background-color: #8E44AD !important; }
.permissions-container fieldset {
  border: 1px solid #e6e6e6; }
  .permissions-container fieldset legend {
    background-color: #ffffff;
    color: #636468; }
    .permissions-container fieldset fieldset legend {
      border-bottom: 1px solid #e6e6e6; }
.permissions-container .crudp-container .checkboxes.toggleable label {
  border-color: #e6e6e6;
  background-color: #fcfcfc; }
.permissions-container .crudp-container .checkboxes input[type=checkbox] + label:before {
  color: rgba(120, 123, 125, 0.3); }
.permissions-container .crudp-container .checkboxes[data-_check-status="1"] input[type=checkbox] + label {
  background-color: #3D9970;
  color: #ffffff; }
  .permissions-container .crudp-container .checkboxes[data-_check-status="1"] input[type=checkbox] + label:before {
    color: #ffffff; }
.permissions-container .crudp-container .checkboxes[data-_check-status="2"] input[type=checkbox] + label {
  background-color: #C0392B;
  color: #ffffff; }
  .permissions-container .crudp-container .checkboxes[data-_check-status="2"] input[type=checkbox] + label:before {
    color: #ffffff; }

.permission-container .permission-name span:not(.badge) {
  background-color: #ffffff; }
.permission-container .permission-name span.badge {
  border: 2px solid #ffffff; }
