{% extends "forms/field.html.twig" %}

{% block input %}
    <input type="hidden" class="input" name="{{ (scope ~ field.name)|fieldName }}" value="{{ value|join(', ') }}" />
    <div class="cron-selector"></div>
{% endblock %}
